.ordercompletepage {
  background-color: #ce2829;
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0%;
  left: 0%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  position: absolute;
}

.imgLogo {
  position: absolute;
  top: 10%;
  left: calc((100%-363px) / 2);
}

.tebrikler,
.sipalindi {
  color: white;
  font-family: "Roboto", sans-serif;
  font-size: 3rem;
}
